<h2>Assign <%= "#{@person.first_name} #{@person.last_name}" %> to a Location</h2>

<%= form_for [@person, @assignment] do |f| %>
  <%= f.label :location %>
  <%= f.collection_select :location_id, Location.all, :id, :name, :prompt => "Please select a location.." %>
  <br>
  <br>
  <%= f.label :role %>
  <%= f.text_field :role %>
  <br>
  <br>
  <%= f.submit "Assign" %>

<% end %>

