<h2><%= @person.first_name %> <%= @person.last_name %></h2>
<%= link_to "+ Add Location", new_person_assignment_path(@person.id) %>
<br>
<br>

<% @person.assignments.each do |assignment| %>
  <%= assignment.location.name %>
  <%= assignment.role %>
  <% end %>
<br>
<br>
<a href="/people/<%= @person.id %>/edit">Edit</a>